  <style>
   #link-group {
     display: block;
   }
   #link {
     display: inline-block;
     padding: 0% 1%;
     margin-left: 5px;
     width: 20%;
     border-style: outset;
     text-align: center;
     background-image:-webkit-linear-gradient(top, #9bdcec, #7fb2d6);
     background-image:-moz-linear-gradient(top, #9bdcec, #7fb2d6);
     background-image:-ms-linear-gradient(top, #9bdcec, #7fb2d6);
     background-image:-o-linear-gradient(top, #F66C7B, #D25068);
     background-image:linear-gradient(to bottom, #9bdcec, #7fb2d6);
   }
   #link:hover {
     background-image:-webkit-linear-gradient(top, #7fb2d6, #9bdcec);
     background-image:-moz-linear-gradient(top, #7fb2d6, #9bdcec);
     background-image:-ms-linear-gradient(top, #7fb2d6, #9bdcec);
     background-image:-o-linear-gradient(top, #7fb2d6, #9bdcec);
     background-image:linear-gradient(to bottom, #7fb2d6, #9bdcec);
   }
   #link:active {
     border-style: inset;
   }
   header {
     background-image: url('lily.png'); 
     background-color:#9bdcec; 
     background-repeat:no-repeat;   
   }
   header h1 {
     margin-left: 110px;
     text-align: left;
     font-size: 40px;
   }
   body {
     background-color: #80ca8f;
     font-family: Papyrus;
   }
   h1, h2 {
     color: #e30e75;
   }
   h1 {
     font-size: 32px;
     margin-left: 300px;
   }
   h2 {
     font-size: 26px;
     margin-left: 220px;
   }
   #button {
     background-color: #e4d340;
     border-style: outset;
     border-radius: 20%;
     padding: 1% 2%;
     width: 70px;
     height: 25px;
     font-size: 18px;
     font-family: Papyrus;
     margin-left: 350px;
     background-image:-webkit-linear-gradient(top, #e4d340, #cdba1d);
     background-image:-moz-linear-gradient(top, #e4d340, #cdba1d);
     background-image:-ms-linear-gradient(top, #e4d340, #cdba1d);
     background-image:-o-linear-gradient(top, #e4d340, #cdba1d);
     background-image:linear-gradient(to bottom, #e4d340, #cdba1d);

   }
   #button:hover {
     background-color: #e9db63;
     background-image:-webkit-linear-gradient(top, #cdba1d, #e4d340);
     background-image:-moz-linear-gradient(top, #cdba1d, #e4d340);
     background-image:-ms-linear-gradient(top, #cdba1d, #e4d340);
     background-image:-o-linear-gradient(top, #cdba1d, #e4d340);
     background-image:linear-gradient(to bottom, #cdba1d, #e4d340);
   }
   #button:active {
     border-style: inset;
   }
  </style>