  <style>

   #link-group {
     display: block;  
   }  
   #link-group :first-child {margin-left: 15% !important;}
   #link {
     margin: -2% 3% 2% 0%;
     width: 120px;
     font-size: 18px;
     padding: 0% 1%;
     display: inline-block;
     float: left;
     border-style: outset;
     text-align: center;
     background-image:-webkit-linear-gradient(top, #9bdcec, #7fb2d6);
     background-image:-moz-linear-gradient(top, #9bdcec, #7fb2d6);
     background-image:-ms-linear-gradient(top, #9bdcec, #7fb2d6);
     background-image:-o-linear-gradient(top, #F66C7B, #D25068);
     background-image:linear-gradient(to bottom, #9bdcec, #7fb2d6);
   }
   @media screen and (max-width: 900px) {
   #link-group :first-child {margin-left: 10% !important;}
   #link {
     margin: -2% 2% 2% 0%;
     width: 110px;
     font-size: 18px;
    } 
   }
   @media screen and (max-width: 695px) {
   #link-group :first-child {margin-left: 6% !important; }
   #link {
     margin: -3% 2% 5% 0%;
     width: 100px;
     font-size: 16px;
    }
   }
   @media screen and (max-width: 605px) {
   #link-group :first-child {margin-left: 5% !important; }
   #link {
     margin: -5% 1% 5% 0%;
     font-size: 14px;
     width: 80px;
    }
   }
   @media screen and (max-width: 469px) {
   #link-group :first-child {margin-left: 30% !important; margin-top: -4% !important;}
   #link {
     display: block;
     padding: 1% 6%;
     margin: 0% 1% -2% 30%;
     float: none;
     font-size: 12px;
     width: 33%;
    }
   header h1 {
     font-size: 28px !important;
    }
   }
   #link:hover {
     background-image:-webkit-linear-gradient(top, #7fb2d6, #9bdcec);
     background-image:-moz-linear-gradient(top, #7fb2d6, #9bdcec);
     background-image:-ms-linear-gradient(top, #7fb2d6, #9bdcec);
     background-image:-o-linear-gradient(top, #7fb2d6, #9bdcec);
     background-image:linear-gradient(to bottom, #7fb2d6, #9bdcec);
   }
   #link:active {
     border-style: inset;
   }
   header {
     background-image: url('lily.png'); 
     background-color:#9bdcec; 
     background-repeat:no-repeat;   
     padding: 1% 5% 0% 0%;
     border-radius: 100%;
     background-position-x: 40%;
     background-position-y: 30%;
     height: 250px;
   }
   header h1 {
     margin-left: 43%;
     margin-top: 50px;
     text-align: left;
     font-size: 40px;
     color: #e30e75;
   }
   body {
     background-color: #80ca8f;
     font-family: Papyrus;
   }
   h1, h2 {
     color: black;
   }
   h1 {
     font-size: 32px;
     margin-left: 300px;
   }
   h2 {
     font-size: 24px;
     margin-left: 220px;
   }
   #button {
     background-color: #e4d340;
     border-style: 1px outset #e4d340;
     border-radius: 20%;
     padding: 1% 2%;
     width: 70px;
     height: 25px;
     font-size: 18px;
     font-family: Papyrus;
     margin-left: 350px;
     background-image:-webkit-linear-gradient(top, #e4d340, #cdba1d);
     background-image:-moz-linear-gradient(top, #e4d340, #cdba1d);
     background-image:-ms-linear-gradient(top, #e4d340, #cdba1d);
     background-image:-o-linear-gradient(top, #e4d340, #cdba1d);
     background-image:linear-gradient(to bottom, #e4d340, #cdba1d);

   }
   #button:hover {
     background-color: #e9db63;
     background-image:-webkit-linear-gradient(top, #cdba1d, #e4d340);
     background-image:-moz-linear-gradient(top, #cdba1d, #e4d340);
     background-image:-ms-linear-gradient(top, #cdba1d, #e4d340);
     background-image:-o-linear-gradient(top, #cdba1d, #e4d340);
     background-image:linear-gradient(to bottom, #cdba1d, #e4d340);
   }
   #button:active {
     border-style: inset;
   }
  </style>